<h1><%= @election.name %></h1>
<p>You should vote!</p>
<p>Polls open in <%=time_ago_in_words(@election.polls_open) %>.</p>

Here is a list of offices related to this election
<ul>
  <% @election.races.each do |race| %>
    <li> <%= link_to race.office.name, race %> </li>
  <% end %>
</ul>
